body 
{
	max-height:640px;
 min-height:200px;
}
*
{
	
    padding:0px;
		margin:0px;
    color: #800000;
    text-align: center;
}

@keyframes slider 
{

0% {
	left: 0;
}



25% {
	left: -100%;
}


50% {
		left: -200%;

}



75% {
	left: -300%;
}



100% {
	left: -400%;

}

}

#slider 
{
	min-width:100px;
	overflow: hidden;
	width: 1334px;
	height: 394px;
}

#slider figure img {
	width: 20%;
	float: right;
}

#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 20s slider infinite; 

}
